.logo{
    width: 15%;
    height: auto;
    transform: translateY(-4px);
    padding: 1%;
}

.navbar-brand{
    font-size: 1.5em;
}

body {
    background: linear-gradient(90deg, #D3F3F3, #FFD6E5, #CEA2DE, #FBB17C); 
    margin: 0; 
}

#heroSection{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.custom-opacity{
    background-color: rgba(255, 255, 255, 0.6);
}

.custom-card{
    margin: 2%;
}

.card{
    border-radius: 10px !important; /*make it re-write over bootstrap*/
    overflow: hidden !important; 
    background-color: rgba(255, 255, 255, 0.6);
}

.custom-card {
    margin: 2%;
}

.custom-margin-left{
    margin-left: 5%;
}

.custom-btn {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: black;
    color: black;
    margin-top: 30%;
}

.custom-btn:hover{
    background: linear-gradient(45deg, #D3F3F3, #FFD6E5, #CEA2DE, #FBB17C); 
    color: white;
    border-color: white;
}

#footer-bg{
    background-color: rgba(255, 255, 255, 0.6);
}

.custom-btn2:hover{
    background: linear-gradient(45deg, #D3F3F3, #FFD6E5, #CEA2DE, #FBB17C); 
    color: white;
    border-color: white;
}
 
.custom-nav:hover{
    background: linear-gradient(45deg, #D3F3F3, #FFD6E5, #CEA2DE, #FBB17C);
    border-radius: 5px;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.card-head{
    font-weight: 100px;
}

.card-detail{
    margin-bottom: 0;
}

audio{
    margin-top: 20%;
}

h2{
   background: linear-gradient(90deg,#d359ff,#00ffff, #ff005d,#00ffff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
}

.custom-btn3{
    color: black;
    border-color: black;
}

.custom-btn3:hover{
    background: linear-gradient(45deg, #D3F3F3, #FFD6E5, #CEA2DE, #FBB17C);
    border-color: white;
    color: white;
}

.custom-card:hover{
    background: linear-gradient(-45deg,#d359ff, #00ffff, #ff005d );
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgb(132, 74, 74);
    transition: 0.3s;
    color: white;
}

