.logo{
    width: 15%;
    height: auto;
    transform: translateY(-4px);
    padding: 1%;
}

.navbar-brand{
    font-size: 1.5em;
}

body {
    background: linear-gradient(90deg, #D3F3F3, #FFD6E5, #CEA2DE, #FBB17C); 
    margin: 0; 
}

#heroSection{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.custom-opacity{
    background-color: rgba(255, 255, 255, 0.6);
}

.custom-card{
    margin: 2%;
}

.card{
    border-radius: 10px !important; /*make it re-write over bootstrap*/
    overflow: hidden !important; 
}

.custom-card {
    margin: 2%;
}
